<div class="d-flex flex-column justify-content-center align-items-center pt-5">
    <h1 class="">Welcome</h1>
    <h3>Apecial News with Devise and Bootstrap</h3>
    <%= link_to "Sign Up", new_nius_user_registration_path, class: "btn btn-lg btn-primary rounded-pill" %>
</div>
<% if current_nius_user %>
  <p>Hello <%= current_nius_user&.email %></p><br>
  <p>You are Role: <%= current_nius_user&.role %></p><br>
  <% if current_nius_user.admin? %>
    <p>User Total count <%= User.count %></p>
  <% end %>
  <%= link_to "Log Out", destroy_nius_user_session_path, 'data-turbo-method': :delete %>
<% else %>
  <p>You are not signed in</p>
  <p>
    <%= link_to "Sign up", new_nius_user_registration_path %><br>
    <%= link_to "Login", new_nius_user_session_path %>
  </p>
<% end %>