<div id="<%= dom_id niu %>">
  <p class="fw-lighter">
    <%= niu.nius_user.email %> said on <%= niu.nius_user.created_at %> this:
  </p>

  <p>
    <h2><%= niu.title %></h2>
  </p>

  <p>
    <h3><%= niu.headline %></h3>
  </p>

  <p>
    <%= niu.content %>
  </p>

</div>
