<div id="<%= dom_id niu %>">
  <p>
    <strong>Nius user:</strong>
    <%= niu.nius_user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= niu.title %>
  </p>

  <p>
    <strong>Headline:</strong>
    <%= niu.headline %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= niu.content %>
  </p>

</div>
