<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 text-white">The Rial Nius</span>
    </div>        
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, :class=>"nav-link active text-white", "aria-current"=>"page" %>
        </li>
        <li class="nav-item">
          <%= link_to "Nius", nius_path, :class=>"nav-link text-white" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_nius_user %>
              <%= current_nius_user&.email %> (<%= current_nius_user&.role %>)
            <% else %>  
              Join us
            <% end %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if current_nius_user %>
              <li><%= button_to("Log Out", destroy_nius_user_session_path, method: :delete) %></li>
            <% else %>  
              <li><%= link_to "Sign up", new_nius_user_registration_path, class: 'btn' %></li>
              <li><%= link_to "Login", new_nius_user_session_path, class: 'btn' %></li>
            <% end %>            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>